[Unit]
Description=Kubernetes etcd Service Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/opt/apps/etcd/etcd --name infra0 --initial-advertise-peer-urls http://172.17.9.101:2380 \
  --listen-peer-urls http://172.17.9.101:2380 \
  --listen-client-urls http://172.17.9.101:2379,http://127.0.0.1:2379 \
  --advertise-client-urls http://172.17.9.101:2379 \
  --initial-cluster-token etcd-cluster-1 \
  --initial-cluster infra0=http://172.17.9.101:2380,infra1=http://172.17.9.102:2380 \
  --data-dir /opt/apps/etcd-data/infra0.etcd \
  --initial-cluster-state new



Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target


